:root{
  --primary-color-login: #ad4141;
  --secundary-color-login: #e2dbd3;
  --black-login: #000000;
  --white-login: #ffffff;
  --gray-login: #efefef;
  --gray--login-2: #757575;


  --facebook-color: #4267B2;
  --google-color: #DB4437;
  --twitter-color: #1DA1F2;
  --insta-color: #E1306C;
}
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

